nav {
  display: flex;
  background-color: #31468d;
  color: #ffffff;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  height: 120px;
  padding: 2rem;
  justify-content: space-between;
  padding-right: 10px;
  padding-left: 10px;
}
#new-tweet-button {
  color: white;
  background-color: transparent;
  text-align: center;
  text-decoration: none;
}
.fas {
  color: orange;
}
#logo {
  font-family: "Bungee", sans-serif;
  font-size: 36px;
}
@media screen and (max-width: 1023px) {
  nav {
    background-image: url("../images/asfalt-dark.png");
    background-color: #cc8800;
  }
}
